<div class="cadastro">
    <mat-card class="card">
    <mat-card-title class="title">Cadastre-se!</mat-card-title>
    <h4>Informações</h4>
    <form>
        <mat-form-field>
            <input type="text"matInput placeholder="Nome" required>
        </mat-form-field>

        <mat-form-field>
            <input type="number" matInput placeholder="Cpf" required>
        </mat-form-field>

        <mat-form-field>
            <input type="email" matInput placeholder="E-mail">
        </mat-form-field>
            
        <mat-form-field>
            <input type="date" matInput placeholder="Data de nascimento" required>
        </mat-form-field>

        <mat-form-field>
            <input type="tel" matInput placeholder="Celular" required>
        </mat-form-field>

        <mat-form-field>
            <input type="email" matInput placeholder="E-mail" required>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Gênero">
                <mat-option>
                    Feminino
                </mat-option>
                <mat-option>
                    Masculino
                </mat-option>
                <mat-option>
                    Não binário
                </mat-option>
                <mat-option>
                    Prefiro não dizer
                </mat-option>
            </mat-select>
        </mat-form-field>   

        
            
    </form>
    <h4>Endereço</h4>
</mat-card>
</div>
    